/* limpar formatação padrão */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
    font-family: "Trebuchet MS", helvetica, sans-serif ;
    background: #eeeeee;

}

/* --------------------MENU-------------------- */
#navegação {
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    height: 45px;
    position: sticky;
    top: 0;
}

#area {
    width: 720px;
    margin: 0 auto;
}

#logo {
    float: left;
}

#menu {
    float: right;
    padding: 12px 0;
    
}

/* ------------------------------------------- */

/* --------------------AREA PRINCIPAL-------------------- */
#area-principal {
    width: 720px;
    margin: 20px auto 10px auto;
    }

#postagem {
    background: white;
    padding: 10px;

}

.title-postagem {
    font-size: 25px;
    color: #b9c941;
  }

.data-postagem {
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem {
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
}

.postado {
    border-left: 5px solid rgb(204, 204, 204);
    display: block;
    margin-top: 10px;
    padding-left: 5px;
}

/* ------------------------------------------- */


/* --------------------FORMT LINK-------------------- */
a {
    padding: 8px;
    color: rgb(129, 129, 129);
    text-decoration: none;
}

a:hover {
    background: #b9c941;
    color: rgb(236, 236, 236);
    border-radius: 5px;
    transition: background 0.15s;
}

a:active {
    background: #c5d645;
    color: #d9e29a;
    border-radius: 5px;
    transition: background 0.15s;
}

/* ------------------------------------------- */

  .verde {
    color: #b9c941;
}
